.login-form{
  margin:100px auto !important;
  width:640px;
  background-color: #f2f2f2;
  padding:30px;
  border-radius: 10px;
}

.full-width{
  width:100%;
  text-align:center;
  font-style: oblique
}